# Linear Regression: Statsmodels vs Sci-kit Learn

## Today's Goals:

- Showcase the differences between the different implementations of ordinary least squares regression

### First: Set Up

In [1]:
# Basic imports
import numpy as np
import pandas as pd
# Data visualizations
import matplotlib.pyplot as plt
import seaborn as sns
# Pre-Processing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# Metrics
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

Credit data from https://www.kaggle.com/avikpaul4u/credit-card-balance

Target: `Balance`

In [2]:
# Data
df = pd.read_csv('data/Credit.csv', 
                 usecols=['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Balance'])

In [3]:
df.head()

    Income  Limit  Rating  Cards  Age  Balance
0   14.891   3606     283      2   34      333
1  106.025   6645     483      3   82      903
2  104.593   7075     514      4   71      580
3  148.924   9504     681      3   36      964
4   55.882   4897     357      2   68      331

In [4]:
df.describe()

,Income,Limit,Rating,Cards,Age,Balance
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,45.218885,4735.600000,354.940000,2.957500,55.667500,520.015000
std,35.244273,2308.198848,154.724143,1.371275,17.249807,459.758877
min,10.354000,855.000000,93.000000,1.000000,23.000000,0.000000
25%,21.007250,3088.000000,247.250000,2.000000,41.750000,68.750000
50%,33.115500,4622.500000,344.000000,3.000000,56.000000,459.500000
75%,57.470750,5872.750000,437.250000,4.000000,70.000000,863.000000
max,186.634000,13913.000000,982.000000,9.000000,98.000000,1999.000000

In [5]:
# Let's define our X and y
X = df.drop(columns='Balance')
y = df['Balance']

In [6]:
# Train test split here!
# Set test_size = .33
# Set random_state = 42

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [7]:
# Time to scale!
# Instantiate a new scaler
scaler = StandardScaler()

# Learn the pattern from the training data
scaler.fit(X_train)

# Apply the pattern to the training and testing data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Let's turn these into dataframes
X_train_scaled = pd.DataFrame(X_train_scaled,
                              columns=X_train.columns,
                              index=X_train.index)
X_test_scaled = pd.DataFrame(X_test_scaled,
                             columns=X_test.columns,
                             index=X_test.index)

X_train_scaled.head()

       Income     Limit    Rating     Cards       Age
258 -0.101043 -0.938725 -0.901892 -0.669798 -1.258188
177 -0.655066 -0.344896 -0.416992 -0.669798 -1.377254
119 -0.636629 -1.425546 -1.393090  0.025961  1.420793
194 -0.421264 -1.125248 -1.116004 -0.669798  1.301727
229  0.730326  1.173512  1.188847  0.025961  1.123129

## Statsmodels' `ols`

Aka the formula version

In [8]:
# Import
from statsmodels.formula.api import ols

In [9]:
# For this version, we need to create a train_df and test_df
# This is easier because we made sure our scaled X data is a df
train_df_scaled = pd.concat([X_train_scaled, y_train], axis=1)
test_df_scaled = pd.concat([X_test_scaled, y_test], axis=1)

train_df_scaled.head()

       Income     Limit    Rating     Cards       Age  Balance
258 -0.101043 -0.938725 -0.901892 -0.669798 -1.258188        0
177 -0.655066 -0.344896 -0.416992 -0.669798 -1.377254      384
119 -0.636629 -1.425546 -1.393090  0.025961  1.420793        0
194 -0.421264 -1.125248 -1.116004 -0.669798  1.301727        0
229  0.730326  1.173512  1.188847  0.025961  1.123129     1058

In [10]:
# Now define our formula - all X variabels against y
formula = 'Balance ~ Income + Limit + Rating + Cards + Age'

# or can do:
# formula = 'Balance ~ ' + ' + '.join(X_train.columns)
formula

'Balance ~ Income + Limit + Rating + Cards + Age'

In [ ]:
# Set up and fit your model
model_ols = ols(formula=formula, data=train_df_scaled).fit()

In [ ]:
# Check your results!
model_ols.summary()

## Statsmodels' `OLS`

Aka X vs y version

In [ ]:
# Import
import statsmodels.api as sm

In [ ]:
# Now we'll use our X_train_scaled and y_train!
# Note the add constant
model_OLS = sm.OLS(endog=y_train, exog=sm.add_constant(X_train_scaled)).fit()

In [ ]:
# Check your results!
model_OLS.summary()

## And Now - SKLearn!

Aka the no-summary version

In [ ]:
# Import
from sklearn.linear_model import LinearRegression

In [ ]:
# Instantiate our model
model_sk = LinearRegression()

In [ ]:
# Fit our model
model_sk.fit(X_train_scaled, y_train)

In [ ]:
# Get our R2 score
model_sk.score(X_train_scaled, y_train)

In [ ]:
# Can also use:
train_preds = model_sk.predict(X_train_scaled)

r2_score(y_train, train_preds)

In [ ]:
# Check our coefficients
model_sk.coef_

In [ ]:
# Add the column names to look at
dict(zip(X_train.columns, model_sk.coef_))

In [ ]:
mean_absolute_error(y_train, train_preds)

In [ ]:
mean_squared_error(y_train, train_preds)